@import url('https://fonts.googleapis.com/css2?family=Kapakana&display=swap');

html,
body,
#__nuxt {
  min-height: 100%;
}

body {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

button,
a,
[role='button'] {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

button:focus,
button:focus-visible,
a:focus,
a:focus-visible,
[role='button']:focus,
[role='button']:focus-visible {
  outline: none;
  box-shadow: none;
}

button,
.landing-nav__link,
.landing__label--interactive {
  user-select: none;
}
